* {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

header {
    padding: 30px calc(50% - 600px);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-family: Impact, fantasy;
    font-size: 25px;
    display: flex;
    align-items: center;
    gap: 10px;
}

nav {
    display: flex;
    gap: 20px;
}

.banner {
    background-image: url(img/img1.png);
    color: #000;;
    padding: 100px calc(50% - 600px);
    background-position:center;
    background-size: cover;
    height: calc(100vh - 468px);
}

h1 {
    padding-top: 105px;
    width: 470px;
}

.banner p {
    width: 500px;
}

.info {
    padding: 30px calc(50% - 600px);
    display: flex;
    gap: 30px;
}

img {
    height: 30px;
}

.card {
    background-color: #DFEDF1;
    display: flex;
    width: 25%;
    align-items: center;
    gap: 20px;
    border: 1px solid;
    padding: 20px;
    border-radius: 8px;
}

.card h4 {
    margin-bottom: 5px;
}